

.virtual-list {
    width: 500px;
    background: white;
    overflow: auto;
    scroll-behavior: smooth;
}

.virtual-list-vertical {
    overflow-y: auto;
    overflow-x: hidden;
}

.virtual-list-horizontal {
    overflow-x: auto;
    overflow-y: hidden;
}

.virtual-list-item-wrapper {
    position: relative;
}


.virtual-list .virtual-list-item {
    border-bottom: 1px solid #eee;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
}

.virtual-list.virtual-list-vertical .virtual-list-item {
    width: 100% !important;
}

.virtual-list.virtual-list-horizontal .virtual-list-item {
    height: 100% !important;
    border-right: 1px solid #eee;
}

.virtual-list .virtual-list-column, .virtual-list .virtual-list-row {
    border-bottom: 1px solid #eee;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.virtual-list .virtual-list-row {
    position: absolute;
    overflow: hidden;
}

.virtual-list .virtual-list-column {
    background-color: #f8f8f0;
    position: sticky;
    top: 0;
    z-index: 9;
    font-weight: bold;
}


.virtual-list .virtual-list-column .virtual-list-column-item,
.virtual-list .virtual-list-row .virtual-list-row-item
{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
